@import 'tailwindcss';

:root {
  --background: #f5f5f5;
  --background-footer: #2F2F2F;
  --foreground: #7e7e7e;
  --foreground-custom: #6A6765;
  --common-green: #a0d24a;
  --custom-blue: #2C375F;
  --grey-blue-border: #B7CBE7;
  --grey-border: #D6D4D4;
  --grey-footer-text: #848383;
  --grey-footer-text-rgb: 132, 131, 131;
  --grey-nav: #2D2E2D;
  --brown-light: #DFCFBC;
  --brown-light-rgb: 106, 103, 101;
  --toast-animation-duration: 300ms;

  --warning: #E6A23C;
  --warning-dark: #B8741A;

  --error: #D64545;
  --error-dark: #9E2B2B;
}

@theme inline {
  --background-image-home: url('/images/about-bg.jpeg');
  --background-image-page: url('/images/page-bg.jpeg');
  --background-image-grandpa: url('/images/grandpa-bg.png');
  --background-image-grandpa-section: url('/images/grandpa-section-bg.jpg');

  --color-background: var(--background);
  --color-background-footer: var(--background-footer);
  --color-foreground: var(--foreground);
  --color-foreground-custom: var(--foreground-custom);
  --color-common-green: var(--common-green);
  --color-custom-blue: var(--custom-blue);
  --color-grey-blue-border: var(--grey-blue-border);
  --color-grey-border: var(--grey-border);
  --color-grey-footer-text: var(--grey-footer-text);
  --color-grey-footer-text-15: rgba(var(--grey-footer-text-rgb), 0.15);
  --color-grey-nav: var(--grey-nav);
  --color-brown-light: var(--brown-light);
  --color-brown-light-15: rgba(var(--brown-light-rgb), 0.15);
  --color-warning: var(--warning);
  --color-error: var(--error);

  --font-raleway: var(--font-raleway);
  --font-pacifico: var(--font-pacifico);
  --font-caveat: var(--font-caveat);

  --text-heading-1: 6.25rem;
  --text-heading-2: 5rem;
  --text-heading-2-custom: 4rem;
  --text-heading-3: 2.5rem;

  --text-shadow-l: 0 4px 4px rgb(0, 0, 0 / 0.25);

  --container-8xl: 87.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway);
}

button {
  @apply cursor-pointer;
}

p {
  @apply pb-4
}

input {
  @apply border-1 border-foreground rounded-xs outline-none py-1 px-2;
}

.input-wrapper {
  @apply flex flex-col pb-8;
}

.heading-1 {
  @apply font-pacifico text-white text-heading-3 md:text-heading-2 lg:text-heading-1 leading-16 md:leading-32 text-shadow-lg/15 pb-4;
}

.heading-2 {
  @apply font-pacifico text-white text-heading-3 md:text-heading-2;
}

.heading-2-custom {
  @apply font-caveat text-custom-blue text-heading-2-custom;
}

.heading-3 {
  @apply font-pacifico text-common-green text-heading-3;
}

.content {
  @apply 2xl:max-w-8xl container mx-auto px-4 md:px-8 lg:px-16;
}

.section {
  @apply py-4 md:py-8 lg:py-16
}

.btn-primary {
  @apply bg-common-green text-white text-sm font-bold uppercase rounded-3xl py-2 w-full sm:w-48 md:w-3xs text-center hover:shadow-md;
}

.btn-primary:disabled {
  @apply bg-foreground;
}

.btn-secondary {
  @apply border-2 border-white text-white text-sm font-bold uppercase rounded-3xl py-2 w-full sm:w-48 md:w-3xs text-center hover:shadow-md;
}

.grandpa-section {
  @apply relative z-1 bg-grandpa-section bg-cover py-32 px-4 md:px-8;
}

.grandpa-section::before {
  content: "";
  @apply absolute inset-0 bg-black/40 z-0;
}

@keyframes toast-in {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toast-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(1rem);
  }
}

.animate-toast-in {
  animation: toast-in var(--toast-animation-duration) ease-out forwards;
}

.animate-toast-out {
  animation: toast-out var(--toast-animation-duration) ease-in forwards;
}